@CHARSET "UTF-8";
/* searchForm搜索框统一样式 */
#searchForm {
	background: #ffffff;
	padding: 15px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	display: -webkit-box;
}

#searchForm lable {
	font-weight: normal;
}

.body-div {
	margin: 15px 15px;
}

/* 设置隐藏属性 */
.hide {
	display: none;
}

.valid_cow {
	height: 50px !important;
	overflow: hidden;
}

.input-width-200{
	width:200px!important;
}

th:hover {
	cursor: default;
}

td {
	vertical-align: middle !important;
}

.pagination>li>a, .pager>li>a {
	height: 34px !important;
	line-height: 21px !important;
	padding: 6px 15px;
}

.expand-height {
	height: 900px;
}

.pageDiy {
	float: right;
	margin-top: 20px;
}

.pageDiy div span, .pageDiy div a {
	border: 1px solid #cccccc;
	padding: 5px 10px;
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
}

.pageDiy div a.current {
	background: #00a73b;
	border: 1px solid #00a73b;
	color: #ffffff;
}

.pageDiy div a.hiding {
	border: none;
}

.hiddenCus {
	visibility: hidden
}